Header always set Content-Security-Policy "upgrade-insecure-requests; frame-ancestors 'none';"
Header always set X-Frame-Options DENY
Header set X-XSS-Protection "0"
Header set X-Content-Type-Options nosniff
Header set Referrer-Policy: no-referrer
Options -Indexes